.profile__avatar  {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 120px;
  height:120px;
  border-radius: 50%;
}
.profile__avatar:hover {
  cursor: pointer;
}
.profile__avatar:hover::before{
  content:'';
  display: block;
  width: 100%;
  height:100%;
  background-color: #000000;
  opacity: .5;
}
.profile__avatar:hover::after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  margin:auto;
  display: block;
  width: 100%;
  height: 100%;
  background-image:  url('../../../images/edit-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}
@media screen and (max-width: 705px) {
.profile__avatar  {
   margin-left: calc((100% - 120px) / 2);
   margin-right: calc((100% - 120px) / 2);
}
}