.popup__window_photo-browsing  {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  width: auto;
  min-height: auto;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #FFFFFF00;

}