

.popup__input-item {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.21;
  padding-bottom: 13px;
  margin-top: 13px;
  margin-bottom: 5px;
  outline: none;
}


@media screen and (max-width: 630px) {
  .popup__input-item {
    font-size: 10px;
  }
}