.popup__window  {
  position: relative;
  color: #000000;
  width: 430px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 630px) {
  .popup__window {
    max-width: 68.47%;
    padding: 34px 8.37%;
    border-radius: 3px;
  }
}