.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  margin: 0 1.7vw 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 85%;
}

  @media screen and (max-width: 1024px) {
  .profile__name {
    font-size: 4.101vw;
  }
  }
  @media screen and (max-width: 705px) {
  .profile__name {
    line-height: 1.9;
    padding-top: 18px;
    font-size: 7.63vw;
    text-align: center;
  }
  }
  
  @media screen and (max-width: 355px) {
  .profile__name {
    font-size: 27px;
    margin: 0;
    min-width: 201px;
  }
  }
